  <section class="function container-fluid">
    <div class="row">
    <h2>Function</h2>
      <div class="function-images">
        <div class="col-md-12 col-sm-12">
          <div class="function-image">
            <img src="<%= asset_path "comment.png"%>">
            <p><%=link_to "Tweet!", tweets_path %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
